body{
    background-color: cadetblue;
}
img{
    width: 14vw;
}

select{
    margin: 0vw 0vw 1vw 1vw;
}
#container{
    max-width: 100vw;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.title{
    font-size: 1.5vw;
    font-weight: bold;
    height: 4vw;
    display: flex;
    align-items: center;
}
.singleMovie{
    width: 14vw;
}
#haveSeen{
    display: flex;
    justify-content: center;
}
#image{
    display: flex;
    justify-content: end;
}
.corner{
    position: absolute;
    border-top: 7vw solid rgba(255, 255, 255, 0.493);
    border-left: 1vw solid transparent;
    width: 0vw;
    height: 0vw;
}
.star{
    opacity: 0%;
    width: 2vw;
    margin: -6vw 0vw 0vw -3vw;
}
#image:hover{
    .corner{
    border-top: 7vw solid rgba(189, 189, 189, 0.493);
    border-left: 6vw solid transparent;
    width: 0vw;
    height: 0vw;}
    .star{
        opacity: 1000%;
        position: absolute;
        width: 2vw;
        margin: -6vw 0vw 0vw -3vw;
        cursor: pointer;
    }
}